wp-config.php
debug.log
.htaccess
error_log
.ftpquota

.idea/

docs/only-for-reference/test-mime-files/

wp-content/db.php
wp-content/updraft/
wp-content/themes/the-translator/hnt/news.txt
wp-content/themes/the-translator/hnt/news_customer.txt
wp-content/uploads/*_captcha/
wp-content/cache
local-only/

wp-content/uploads/content_summary_images/
!wp-content/uploads/content_summary_images/.keep

wp-content/uploads/000